= rails_admin_alert @page
= simple_form_for @page do |f|
  = render 'foundationstone/error', object: @page
  = f.input :active
  = f.input :image
  #translations.tab-content
    = localization_bar @page
    = f.simple_fields_for :translations do |translation|
      = render 'translation_fields', f: translation
    .links= link_to_add_association t('.translation.add'), f, :translations, class: 'btn btn-default'
  = f.button :submit, t('.submit'), class: 'btn btn-block btn-large btn-info'