= rails_admin_alert @page

= simple_nested_form_for @page, nested_wrapper: :bootstrap3_horizontal do |f|
  = render 'core/shared/errors', object: @page

  = f.input :active
  = f.input :image

  %header
    %h1= t '.translations.title'
    = f.link_to_add gt('plus', t('.translations.new')), :translations, class: 'translations btn btn-info pull-right'
  = localization_bar @page
  
  .tab-content.translations
    = f.simple_fields_for :translations, nested_wrapper: false do |t|
      .fields.tab-pane{id: "translation_#{t.index}", class: ("active" if t.index == 0)}
        .right
          = t.link_to_remove si('btn btn-danger','glyphicon glyphicon-remove')
        = t.input :title
        = t.input :slug
        = t.input :locale
        = t.input :content, as: :ckeditor
  = f.button :submit, t('.submit'), class: 'btn btn-block btn-large btn-info'