.nested-fields.tab-pane{id: "tab-#{f.index}", class: ('active' if f.index == 0)}
  = f.input :title
  = f.input :slug
  = f.input :locale
  = f.input :content, as: :ckeditor
  .remove= link_to_remove_association t('.translation.remove'), f, class: 'btn btn-danger'